@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    background-color: #151a17;
}
#nav-bar{
    width: 101%;
    padding-top: 200px;
    display: inline-block;
    background-color: black;
    color: white;
}
#wave-animation {
    padding-top: 50px;
}
#tabs{
    float: right;
}
.header-link{
    float: right;
    margin-right: 30px;
}

.waves {
    position:relative;
    width: 100%;
    height:100px;
    min-height:40px;
    max-height:80px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}


@media (max-width: 768px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}

.tab-link {
    position: relative;
}
.tab-link:hover {
    color: #93bea3;
}
.tab-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #93bea3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.tab-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}